<h3> Book Summary </h3>


   <ul>
       <li class="a"><font color="red">Title : </font> <%= data[0].title %></li>
       <li class="a"><font color="red">Author : </font><%= data[0].author %>  </li>
       <li class="a"><font color="red">publisher : </font><%= data[0].publisher %>  </li>
       <li>
           <img class="book-img" src=/uploads/<%= data[0].photo_path %>
       </li>

</ul>
